
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #121212;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    opacity: 0;
    transition: opacity 1s ease-in;
}

body.loaded {
    opacity: 1;
}


.navbar{
    background-color: #121212;
    padding: 20px 30px;
    font-family: "Poppins", sans-serif;
    border-bottom: solid 1px #e8dacd;
    margin: 0 20px;
}

.logo-brand {
    margin: 0 auto; /* Center-align the logo horizontally */
    font-family: "Commune", serif;
    padding-right: 30px;
}

.buy-now {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: transparent;
    border: 2px solid #e8dacd; /* Set the border color to your preference */
    border-radius: 4px; /* Rounded corners for a softer look */
    color: rgb(255, 218, 199); /* Text color */
    text-decoration: none; /* Remove underlines for anchor tags */
    font-size: 16px; /* Adjust the font size as needed */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth hover effect */
    /* Center the text both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-now:hover {
    background-color: #e8dacd; /* Change background color on hover */
    color: #000000; /* Change text color on hover */
    border-color: #121212; /* Change border color on hover */
    text-decoration: none; /* Remove underlines on hover for anchor tags */
}

.flex-container{
    display: flex;
    max-width: 100%;
}

.perfume-image {
    width: auto;
    height: 500px;
    display: flex;
    border-radius: 140px;
    float: right;


}
.perfume-container{
    display: flex;
    justify-content: right; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-basis: 90%;
    padding-top:20px;
    padding-right: 90px;


}

.hero-text{
    color: white;
    font-family: "Commune", serif;
    font-size: 80px;
    padding-top:40px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);

}

.hero{
    flex-basis: 50%;
    padding-top: 20px;
    padding-right: 70px;
    padding-left: 70px;

}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

.marquee-section{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding: 60px 0;
    width: 100%; /* Set a fixed width for the container */
}
.marquee{
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    animation: scroll 9s infinite linear;
}
.marquee-text{
    font-size: 50px;
    color:white;
    font-family: "Commune", serif;
    font-style: italic;
    width: 100%; /* Set a fixed width for the container */


}

.menu-heading{
    color: white;
    font-family: "Commune",serif;
    font-size: 50px ;
    text-align: center;
    padding-bottom: 70px;
}

.hero-cta {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    margin: 40px 0;
    font-weight: 400;
    padding: 12px 30px; /* Slightly increased padding for better click ability */
    background-color: transparent; /* Background color to make it stand out */
    border: 2px solid #e8dacd;
    border-radius: 4px;
    color: #e8dacd; /* Improved text color for better contrast */
    text-decoration: none;
    font-size: 18px; /* Slightly increased font size for emphasis */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: left;
}

.hero-cta:hover {
    background-color:  #e8dacd; /* Reverts to transparent on hover */
    color: #050505; /* Text color changes on hover for contrast */
}
.buy-now:hover svg line {
    stroke: black; /* Change the stroke color to black on hover */
}

.buy-now:hover svg polygon {
    fill: black; /* Change the fill color to black on hover */
}

.perfume-prices{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.perfume-item {

    color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #181818;;
    transition: transform 0.3s ease-in-out; /* Use cubic-bezier for a smoother effect */
    height: 430px;
}

.perfume-item img {
    margin: 0 auto; /* Center horizontally */
    border-radius: 20px; /* Rounded corners for a softer look */
    transition: transform 0.3s ease; /* Add a hover effect */
    display: block; /* Ensure it's treated as a block element */
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height for a 1:1 aspect ratio */

    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}

.perfume-text{
    padding: 15px 10px;
}
.perfume-name{
    font-family: "Valky Regular",serif;

}
.perfume-description{
    font-family: "Poppins", sans-serif;

}


.perfume-item:hover {
    transform: scale(1.08); /* Enlarge the item by 5% on hover */
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    img{
        width: 100%;
    }

    .hero-text{
        font-size: 40px;
    }

    .perfume-image {
        width: auto;
        height: 300px;
        display: flex;
        border-radius: 140px;
       margin: auto auto;



    }

}

.perfume-page-image{
    border-radius: 20px; /* Rounded corners for a softer look */
    transition: transform 0.3s ease; /* Add a hover effect */
    display: block; /* Ensure it's treated as a block element */
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
    width: 500px; /* Set a fixed width */
    height: 500px; /* Set a fixed height for a 1:1 aspect ratio */
    float: right;
    margin-right: 40px;
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}

.perfume-page-container{
    padding-top: 50px;
    flex-basis: 50%;
}

.perfume-page-info{
    flex-basis: 50%;

}

.perfume-info-name{
    font-family: 'Commune',serif;
    color: white;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}
.accord-box {

    max-width: 60%;
}

.cell {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.accord-bar {
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .2rem .3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.element-text{
    font-family: "Poppins",sans-serif;
    padding-left: 20px;

}

.element{
    padding-top: 30px;
}

.notes{
    padding-top: 30px;
    font-family: "Poppins",sans-serif;
    color: white;
    line-height: 1;
    padding-bottom: 30px;
}

.notes-head{
    font-weight: bold;
}
.notes-desc{
    color: rgba(189, 189, 189, 0.82);
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 900px) {

    body{
        width: 100vw;
        overflow-x: hidden;
    }

    .perfume-info-name{
        font-family: 'Commune',serif;
        color: white;
        padding-top: 20px;

    }

    .perfume-info{
        padding-left: 10px;

    }
    .perfume-page-image{
        margin: 0 auto;
        border-radius: 20px; /* Rounded corners for a softer look */
        transition: transform 0.3s ease; /* Add a hover effect */
        width: 380px; /* Set a fixed width */
        height: 380px; /* Set a fixed height for a 1:1 aspect ratio */
        object-fit: cover; /* Maintain aspect ratio and crop if necessary */
        padding-bottom: 0;
        float: none;
    }

    .logo-brand {
        font-family: "Commune", serif;
        padding-right: 0;
    }
    .perfume-page-info{
        margin: auto 0;
        padding: 0 30px;
    }

    .element-text{
        font-family: "Poppins",sans-serif;
        padding-left: 10px;
        font-size: 1rem;

    }

    .notes{
        padding-top: 30px;
        font-family: "Poppins",sans-serif;
        color: white;
        line-height: 2;
        padding-bottom: 30px;
    }

    .navbar{
        background-color: #121212;
        padding: 20px 0;
        font-family: "Poppins", sans-serif;
        border-bottom: solid 1px #e8dacd;
        margin: 0;
    }

    .hero{
        padding-left: 10px;
        padding-right: 10px;
    }


    .perfume-item img {
        margin: 0 auto; /* Center horizontally */
        border-radius: 20px; /* Rounded corners for a softer look */
        transition: transform 0.3s ease; /* Add a hover effect */
        display: block; /* Ensure it's treated as a block element */
        max-width: 100%; /* Ensure it doesn't exceed the container's width */
        width: 200px; /* Set a fixed width */
        height: 200px; /* Set a fixed height for a 1:1 aspect ratio */

        object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    }

    .hero-cta{
        font-size: 15px;
    }
    .perfume-item {
        font-size: 15px;
        color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        background-color: #181818;;
        transition: transform 0.3s ease-in-out; /* Use cubic-bezier for a smoother effect */
        height: 300px;
        width: auto;
    }

    .perfume-name{
        font-size: 18px;
    }


    .accord-bar{
        padding-left: 10px;
    }

}


/* Footer Styles */

footer {

    font-family: "Poppins", sans-serif;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.contact-info, .quick-links, .social-media {
    flex-basis: 30%;

    margin-bottom: 20px;
}

.contact-info, .quick-links{
    border-right: 1px solid white;

}

.quick-links a, .social-media img {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}

.social-media img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}

.copyright {
    margin-top: 20px;
}

.accord-bar{
    padding-left: 20px;
}

/* Custom CSS to hide radio circle */




.select-button {
    color: white;
    background: rgba(84, 84, 84, 0);
    width: fit-content;
    border-radius: 90px;
    padding: 8px 16px; /* Adjust padding to your preference */
    margin-bottom: 40px;
    border: 1px solid white;
    cursor: pointer;
}

.select-button:hover,
.select-button:focus,
.select-button:active {
    color: #181818;
    background: white;
}

.select-button input[type="radio"] {
    display: none; /* Hide the actual radio input */
}

.select-button input[type="radio"]:checked + label {
    background: white;
    color: #181818;
}

.item {
    display: block; /* Initially display all items */
}

.loaded .item {
    transition: 0.5s; /* Add a transition for a smoother effect */
}